@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
}
body{
    color: azure;
    background-image: url(../img/ak\ sm\ nanad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 84%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #6B240C;
        text-shadow: 0 0 12px #6B240C, 0 0 50px #6B240C, 0 0 100px #6B240C;
    }
    10%, 90%{
        color: wheat;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .1s ;
}
.greetings > span:nth-child(3){
    animation-delay: .2s ;
}
.greetings > span:nth-child(4){
    animation-delay: .3s;
}
.greetings > span:nth-child(5){
    animation-delay: .4s;
}
.greetings > span:nth-child(6){
    animation-delay: .5s ;
}
.greetings > span:nth-child(7){
    animation-delay: .6s;
}
.greetings > span:nth-child(8){
    animation-delay: .7s;
}


.description{
    color: #ededed;
    text-shadow: #F5CCA0;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a {
    text-decoration: none;
    display: inline-block;
    padding: 13px;
    border-radius: 13px;
    background-color: wheat;
    color: #994D1C;
    font-size: 15px;
    font-weight: 350;
    transition: all .50 ease;
}

@media screen and (max-width:500px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: 1rem;
    }
}
audio {
    margin-top: 40px;
    align-items: center;
    position: relative;

}

